Repository ansys/pyansys-dev-guide, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

feat: Adding ruff-format hook to pre-commit, updating fixed files
  .pre-commit-config.yaml
  doc/source/doc-style/code/sample_func.py
  doc/source/how-to/code/pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
Labels: documentation

feat: Adding linting rules to Ruff config, updating fixed file
  doc/source/how-to/code/pyansys_logging.py
  ruff.toml
Labels: documentation, maintenance

feat: Extending Ruff linting rules list, updating fixed files
  doc/source/how-to/code/pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
  examples/pyvista_example.py
  ruff.toml
Labels: documentation, maintenance

feat: Reverting change breaking doc build, updating ignored linting rules
  examples/pyvista_example.py
  ruff.toml
Labels: maintenance

feat: facilitating example contribution
  doc/source/how-to/documenting.rst
  doc/source/links.rst
Labels: documentation

feat: enhancements
  doc/source/how-to/documenting.rst
Labels: documentation

Update doc/source/how-to/documenting.rst
  doc/source/how-to/documenting.rst
Labels: documentation

docs: Updating required-standard based on review comment
  doc/source/coding-style/required-standard.rst
Labels: documentation

Update doc/source/coding-style/required-standard.rst
  doc/source/coding-style/required-standard.rst
Labels: documentation

Apply suggestions from code review
  doc/source/how-to/code/pyansys_logging.py
Labels: documentation

feat: Updating pyansys_logging and ruff config based on review comments
  doc/source/how-to/code/pyansys_logging.py
  ruff.toml
Labels: documentation, maintenance

docs: Adding section on Ruff in code style tools page (#592)
  doc/source/coding-style/formatting-tools.rst
  doc/source/coding-style/required-standard.rst
  doc/source/content-writing/content-how-tos/create-PR.rst
  doc/source/content-writing/content-how-tos/resolve-issues-causing-check-failures.rst
  doc/source/links.rst
Labels: documentation

Update doc/source/how-to/code/test_pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
Labels: documentation

docs: extend with jupytext approach
  doc/source/how-to/documenting.rst
  doc/source/links.rst
Labels: documentation

fix(docs): wrong link for pyspeos
  doc/source/links.rst
Labels: documentation

feat: Removing ignored rules from ruff config and updating files accordingly
  doc/source/doc-style/code/sample_func.py
  doc/source/how-to/code/pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
  examples/pyvista_example.py
  ruff.toml
Labels: documentation, maintenance

Update doc/source/how-to/code/test_pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
Labels: documentation

Apply suggestions from code review
  doc/source/how-to/documenting.rst
Labels: documentation

refactor: use links file
  doc/source/how-to/documenting.rst
  doc/source/links.rst
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*']
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'ruff.toml', 'pyproject.toml', 'docker/**/*']
dependencies:
- changed-files:
  - any-glob-to-any-file: ['requirements/*']
