Repository ansys/pyansys-dev-guide, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies

fix: vale issues
  doc/source/how-to/vulnerabilities.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

fix: missing card
  doc/source/how-to/index.rst
Labels: documentation

chore: update License (#581)
  LICENSE
Labels: none

docs: adding more content
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

doc: jupyter target (#580)
  doc/source/how-to/packaging.rst
Labels: documentation

Apply suggestions from code review
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

fix: typos
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

fix: typos
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

feat: clarification on using dependency groups and extras
  doc/source/how-to/packaging.rst
Labels: documentation

chore: removing TODO
  doc/source/how-to/packaging.rst
Labels: documentation

Update doc/source/how-to/packaging.rst
  doc/source/how-to/packaging.rst
Labels: documentation

Update doc/source/how-to/packaging.rst
  doc/source/how-to/packaging.rst
Labels: documentation

docs: adapting to @greschd's suggestions
  doc/source/how-to/packaging.rst
Labels: documentation

feat: clarification on using dependency groups and extras (#582)
  doc/source/how-to/packaging.rst
Labels: documentation

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#583)
  CONTRIBUTORS.md
Labels: none

Apply suggestions from code review
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

Apply suggestions from code review
  doc/source/how-to/vulnerabilities.rst
Labels: documentation

docs: move links
  doc/source/how-to/vulnerabilities.rst
  doc/source/links.rst
Labels: documentation

doc: How to track and handle vulnerabilities. (#300)
  doc/source/how-to/index.rst
  doc/source/how-to/vulnerabilities.rst
  doc/source/links.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

docs: add guidance on dependency version range
  doc/source/how-to/packaging.rst
Labels: documentation

docs: fix vale warnings
  doc/source/how-to/packaging.rst
Labels: documentation

Update labels.yml
  .github/labels.yml
Labels: maintenance

Update doc/source/how-to/packaging.rst
  doc/source/how-to/packaging.rst
Labels: documentation

refactor: update following reviews
  doc/source/how-to/packaging.rst
Labels: documentation

docs: fix vale warning
  doc/source/how-to/packaging.rst
Labels: documentation

docs: fix typo in code-block
  doc/source/how-to/packaging.rst
Labels: documentation

docs: fix code block rendering
  doc/source/how-to/packaging.rst
Labels: documentation

docs: add guidance on dependency version range (#586)
  doc/source/how-to/packaging.rst
Labels: documentation

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#588)
  CONTRIBUTORS.md
Labels: none

docs: use pinned dependencies in CICD
  doc/source/how-to/continuous-integration.rst
Labels: documentation

Apply suggestions from code review
  doc/source/how-to/continuous-integration.rst
Labels: documentation

fix(docs): handle vale warnings
  doc/source/how-to/continuous-integration.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

docs: Adding section on Ruff in code style tools page
  doc/source/coding-style/formatting-tools.rst
  doc/source/links.rst
Labels: documentation

docs: Removing sections on Black, isort and Flake8 in code style tools page
  doc/source/coding-style/formatting-tools.rst
Labels: documentation

docs: Updating based on review comments
  doc/source/coding-style/formatting-tools.rst
Labels: documentation

docs: Harmonising documentation with changes made to code style tool page
  doc/source/coding-style/formatting-tools.rst
  doc/source/coding-style/required-standard.rst
  doc/source/content-writing/content-how-tos/create-PR.rst
  doc/source/content-writing/content-how-tos/resolve-issues-causing-check-failures.rst
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*']
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.flake8', 'pyproject.toml', 'docker/**/*']
dependencies:
- changed-files:
  - any-glob-to-any-file: ['requirements/*']
