Repository ansys/pyansys-dev-guide, pull requests merged in 2022-11, with the labels that each got.

#203 Provide best practices for managing protobuf definitions for PyAnsys client libraries
  doc/source/how-to/grpc-api-packages.rst
  doc/source/how-to/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, enhancement

#207 add notes regarding protobuf versioning
  doc/source/how-to/grpc-api-packages.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#210 Update the workflow action versions.
  .github/workflows/ci-build.yml
  .github/workflows/nightly-build.yml
  doc/source/coding-style/required-standard.rst
  doc/source/how-to/code/build.yml
  doc/source/how-to/code/docs.yml
  doc/source/how-to/code/release.yml
  doc/source/how-to/code/style.yml
  doc/source/how-to/code/tests.yml
  doc/source/how-to/documenting.rst
  doc/source/how-to/supporting-python-versions.rst
Labels: documentation, maintenance

#213 Broken links for ansys-templates
  doc/source/packaging/templates.rst
Labels: bug, documentation

#211 DOC: update references to pyansys/actions
  .github/workflows/ci-build.yml
  doc/Makefile
  doc/make.bat
  doc/source/how-to/code/build.yml
  doc/source/how-to/code/docs.yml
  doc/source/how-to/code/release.yml
  doc/source/how-to/code/style.yml
  doc/source/how-to/code/tests.yml
  doc/source/how-to/continuous-integration.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/grpc-api-packages.rst
  doc/source/how-to/packaging.rst
  doc/source/how-to/supporting-python-versions.rst
  doc/source/how-to/testing.rst
Labels: documentation, maintenance
