Repository ansys/pyansys-dev-guide, pull requests merged in 2022-07, with the labels that each got.

#141 Add dependabot section
  doc/source/how-to/packaging.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, enhancement

#142 Update links to ansys/ansys-templates
  doc/source/how-to/documenting.rst
  doc/source/packaging/build-systems.rst
  doc/source/packaging/templates.rst
Labels: bug, documentation

#144 Force white background in diagrams
  doc/source/conf.py
  doc/source/how-to/diag/doc_layout.rst
  doc/source/how-to/diag/main_branch.rst
  doc/source/how-to/diag/release_branch.rst
  doc/source/packaging/diag/doc_structure_diag.rst
  doc/source/packaging/diag/grpc_structure_diag.rst
  doc/source/packaging/diag/pyansys_namespace_diag.rst
  doc/source/packaging/diag/pyproduct_library_structure_diag.rst
  doc/source/packaging/diag/python_library_diag.rst
  doc/source/packaging/diag/src_structure_diag.rst
  doc/source/packaging/diag/tests_structure_diag.rst
Labels: bug, documentation

#146 Update formatting-tools.rst
  doc/source/coding-style/formatting-tools.rst
Labels: documentation

#149 Docs/general enhancements
  README.rst
  doc/source/coding-style/deprecation.rst
  doc/source/coding-style/index.rst
  doc/source/doc-style/docstrings.rst
  doc/source/doc-style/formatting-tools.rst
  doc/source/doc-style/index.rst
  doc/source/how-to/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation
