Repository ansys/pyansys-dev-guide, pull requests merged in 2022-12, with the labels that each got.

#218 FIX: example to match ansys-sphinx-theme>=0.8
  doc/source/how-to/documenting.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: bug, documentation

#219 DOC: improve multi-version docs
  doc/source/how-to/continuous-integration.rst
  doc/source/how-to/documenting.rst
Labels: documentation

#220 FIX: usage of env with multi-version
  doc/source/how-to/documenting.rst
Labels: bug, documentation

#221 Update compatibility.rst
  doc/source/how-to/compatibility.rst
Labels: documentation

#223 update the github links
  doc/Makefile
  doc/source/conf.py
  doc/source/how-to/contributing.rst
  doc/source/how-to/documenting.rst
Labels: documentation

#224 add edit button
  .github/workflows/ci-build.yml
  doc/source/conf.py
  doc/source/how-to/contributing.rst
Labels: documentation, maintenance

#225 Fix typo in documenting.rst
  doc/source/how-to/documenting.rst
Labels: documentation
