Repository ansys/pyansys-dev-guide, pull requests merged in 2022-10, with the labels that each got.

#186 Add example documentation
  .github/workflows/ci-build.yml
  .gitignore
  doc/source/conf.py
  doc/source/how-to/documenting.rst
  doc/source/index.rst
  examples/README.rst
  examples/pyvista_example.py
  requirements/requirements_doc.txt
Labels: documentation, maintenance, dependencies

#193 remove the css style files added for sphinx design.
  doc/source/_static/css/ansys.css
  doc/source/conf.py
Labels: documentation, enhancement

#192 FEAT: add welcome panels
  doc/source/index.rst
Labels: documentation, enhancement

#195 Fix cross reference typo.
  doc/source/conf.py
  doc/source/doc-style/index.rst
Labels: bug, documentation

#197 Fix the display issue for the virtual server environment.
  .github/workflows/ci-build.yml
  .github/workflows/nightly-build.yml
Labels: maintenance

#199 Modify pdf build on nighty-doc-build
  .github/workflows/ci-build.yml
  .github/workflows/nightly-build.yml
Labels: bug, maintenance
