Repository ansys/pyansys-dev-guide, pull requests merged in 2022-06, with the labels that each got.

#130 Implement automatic labeler
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/labeler.yml
Labels: maintenance

#124 Implement vale in dev-guide
  .github/workflows/ci-build.yml
  doc/.vale.ini
  doc/source/abstractions/app-interface.rst
  doc/source/abstractions/data-transfer.rst
  doc/source/abstractions/index.rst
  doc/source/abstractions/service.rst
  doc/source/coding-style/formatting-tools.rst
  doc/source/coding-style/index.rst
  doc/source/coding-style/pep8.rst
  doc/source/coding-style/required-standard.rst
  doc/source/doc-style/docstrings.rst
  doc/source/doc-style/formatting-tools.rst
  doc/source/doc-style/index.rst
  doc/source/how-to/continuous-integration.rst
  doc/source/how-to/contributing.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/index.rst
  doc/source/how-to/logging.rst
  doc/source/how-to/packaging.rst
  doc/source/how-to/releasing.rst
  doc/source/how-to/setting-up.rst
  doc/source/how-to/supporting-python-versions.rst
  doc/source/how-to/testing.rst
  doc/source/overview/administration.rst
  doc/source/overview/basic.rst
  doc/source/overview/index.rst
  doc/source/packaging/build-systems.rst
  doc/source/packaging/code/changelog_file.md
  doc/source/packaging/code/code_of_conduct_file.md
  doc/source/packaging/index.rst
  doc/source/packaging/structure.rst
  doc/source/packaging/templates.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Labels: documentation, maintenance

#132 Include repository protection rules
  doc/source/how-to/index.rst
  doc/source/how-to/repository-protection.rst
Labels: documentation

#133 Internal repos have no options
  doc/source/how-to/repository-protection.rst
Labels: bug, documentation

#138 Fix version for page deployment action
  doc/source/how-to/documenting.rst
Labels: documentation

#140 Fix duplicated "version" in code snippet
  doc/source/how-to/releasing.rst
Labels: bug, documentation
