Repository ansys/pyansys-dev-guide, pull requests merged in 2023-02, with the labels that each got.

#252 Remove two odd capitals
  doc/source/how-to/packaging.rst
Labels: bug, documentation

#254 Update our Private PyPI instructions for Windows
  doc/source/how-to/releasing.rst
Labels: documentation

#257 Update upload instructions
  doc/source/how-to/releasing.rst
Labels: documentation

#258 Quick patch for the dev guide
  doc/source/how-to/setting-up.rst
Labels: documentation

#260 Add additional private PyPI docs
  doc/source/how-to/releasing.rst
Labels: documentation

#262 Fix: update the docs and auto function module with update of theme package.
  doc/source/conf.py
  doc/source/doc-style/docstrings.rst
  doc/source/how-to/documenting.rst
  requirements/requirements_doc.txt
Labels: bug, documentation, dependencies

#264 DOC: use BUILDIR in Makefile example
  doc/source/how-to/documenting.rst
Labels: documentation

#265 DOC: update multi-version guidelines
  doc/source/how-to/documenting.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#269 Properly documenting how to access dev docs
  doc/source/how-to/documenting.rst
Labels: bug, documentation
