Repository ansys/pyansys-dev-guide, pull requests merged in 2023-04, with the labels that each got.

#287 Fix indentation for in Project approval
  doc/source/getting-started/administration.rst
Labels: documentation

#288 Update indentation on releasing
  doc/source/how-to/releasing.rst
Labels: documentation

#293 Make minor changes to info on switching doc versions
  .github/workflows/ci_cd.yml
  doc/source/how-to/documenting.rst
Labels: documentation, maintenance

#295 feat: adding git tutorial
  doc/source/how-to/setting-up.rst
Labels: documentation, enhancement
