Repository ansys/pyansys-dev-guide, pull requests merged in 2023-03, with the labels that each got.

#268 MAINT: update package layout and continuous deployment
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  Makefile
  doc/source/conf.py
  doc/styles/Vocab/ANSYS/accept.txt
  ignore_words.txt
  tox.ini
Labels: bug, documentation, maintenance

#273 FIX: github deployment
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#274 CI: upload and download artifacts for publishing
  .github/workflows/ci_cd.yml
Labels: maintenance

#275 MAINT: replace pyansys.support email with pyansys.core one
  doc/source/getting-started/administration.rst
  doc/source/getting-started/basic.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/releasing.rst
  doc/source/packaging/code/pyproject_flit_code.rst
  doc/source/packaging/code/pyproject_poetry_code.rst
  doc/source/packaging/code/setup_file_code.rst
Labels: documentation, maintenance

#261 Add one liner for uploading and downloading from our private PyPI
  doc/source/how-to/releasing.rst
Labels: documentation

#282 Update bomanalytics url
  doc/source/conf.py
Labels: documentation

#284 Remove indentation on the landing page
  doc/source/index.rst
Labels: documentation
