Repository ansys/pyansys-dev-guide, pull requests merged in 2023-01, with the labels that each got.

#227 Change use/avoid order in tabs
  doc/source/coding-style/pep8.rst
Labels: bug, documentation

#228 Implementing pre-commit.ci and blacken-docs hook
  .github/workflows/ci-build.yml
  .pre-commit-config.yaml
  doc/source/abstractions/data-transfer.rst
  doc/source/abstractions/service.rst
  doc/source/coding-style/deprecation.rst
  doc/source/coding-style/pep8.rst
  doc/source/conf.py
  doc/source/doc-style/docstrings.rst
  doc/source/how-to/compatibility.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/grpc-api-packages.rst
  doc/source/how-to/logging.rst
  doc/source/how-to/packaging.rst
  doc/source/how-to/testing.rst
  doc/source/packaging/structure.rst
Labels: documentation, enhancement, maintenance

#229 Broken link
  .github/workflows/ci-build.yml
  doc/source/conf.py
Labels: documentation, maintenance

#234 DOC: update examples versions
  doc/source/how-to/code/build.yml
  doc/source/how-to/code/docs.yml
  doc/source/how-to/code/release.yml
  doc/source/how-to/code/style.yml
  doc/source/how-to/code/tests.yml
  doc/source/how-to/documenting.rst
  doc/source/how-to/supporting-python-versions.rst
Labels: documentation

#236 DOC: legal process to perform a public release of a PyAnsys library
  doc/source/getting-started/administration.rst
  doc/source/getting-started/basic.rst
  doc/source/getting-started/componentization.rst
  doc/source/getting-started/index.rst
  doc/source/how-to/continuous-integration.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/releasing.rst
  doc/source/index.rst
  doc/source/overview/administration.rst
  doc/source/packaging/code/pyproject_poetry_code.rst
Labels: documentation

#239 DNS configuration guidelines
  doc/source/doc-style/index.rst
  doc/source/how-to/dns-configuration.rst
  doc/source/how-to/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, maintenance

#240 Upgrade pyansys/actions to v3.
  .github/workflows/ci-build.yml
Labels: maintenance

#245 FIX: description of the versions.json file
  doc/source/how-to/documenting.rst
Labels: bug, documentation

#248 Show the documentation structure
  .pre-commit-config.yaml
  doc/source/packaging/code/authors_file.md
  doc/source/packaging/diag/pyproduct_library_structure_diag.rst
  doc/source/packaging/structure.rst
Labels: documentation
