Repository ansys/pyansys-dev-guide, pull requests merged in 2024-10, with the labels that each got.

#506 feat: adding pre-commit.ci config
  doc/source/coding-style/formatting-tools.rst
Labels: documentation, enhancement

#507 Fix typo in how-to index
  doc/source/how-to/index.rst
Labels: documentation

#511 fix: files
  AUTHORS
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: bug

#515 fix: allow for maint branches
  doc/source/how-to/repository-protection.rst
Labels: bug, documentation

#523 Minor Text Fix
  doc/source/how-to/releasing.rst
Labels: documentation
