Repository ansys/pyansys-dev-guide, pull requests merged in 2024-04, with the labels that each got.

#435 maint: download artifacts with PRIVATE_READ_PAT
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/source/coding-style/required-standard.rst
  doc/source/content-writing/examples-writers/sphinx-gallery.rst
  doc/source/content-writing/rst-files-writers/index.rst
  doc/source/how-to/releasing.rst
  doc/source/packaging/build-systems.rst
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: documentation, maintenance

#437 Update index.rst
  doc/source/getting-started/index.rst
Labels: documentation

#416 Maint: Update vale documentation
  .github/workflows/ci_cd.yml
  doc/source/content-writing/content-how-tos/create-PR.rst
  doc/source/content-writing/content-how-tos/work-around-Vale.rst
  doc/source/content-writing/py-files-writers/docstring-format-rules.rst
  doc/source/content-writing/rst-files-writers/rst-format-rules.rst
  doc/source/doc-style/formatting-tools.rst
Labels: documentation, maintenance

#426 Fix: Vale false positives for google.header
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: bug, documentation, maintenance

#442 fix: doc/source/how-to/releasing.rst: fix variables
  doc/source/how-to/releasing.rst
Labels: documentation

#441 docs: adding a `commit-naming conventions` section and updating `links.rst` and `basics.rst`
  doc/source/conf.py
  doc/source/content-writing/content-contrib-setup/essentials.rst
  doc/source/getting-started/basic.rst
  doc/source/how-to/contributing.rst
  doc/source/how-to/testing.rst
  doc/source/links.rst
  doc/source/packaging/structure.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#444 fix: change gitub to github
  doc/source/how-to/code/release.yml
Labels: bug, documentation

#443 Doc/fix minor formatting and style issues
  doc/source/coding-style/index.rst
  doc/source/coding-style/pep8.rst
  doc/source/conf.py
  doc/source/content-writing/_static/collapsible_sections.png
  doc/source/content-writing/content-how-tos/add-sphinx-extensions.rst
  doc/source/content-writing/content-how-tos/resolve-issues-causing-check-failures.rst
  doc/source/content-writing/content-how-tos/view-revision-history.rst
  doc/source/content-writing/content-how-tos/work-around-Vale.rst
  doc/source/content-writing/examples-writers/index.rst
  doc/source/content-writing/py-files-writers/docstring-format-rules.rst
  doc/source/content-writing/rst-files-writers/cards.rst
  doc/source/content-writing/rst-files-writers/collapsible-sections.rst
  doc/source/content-writing/rst-files-writers/doc-links.rst
  doc/source/content-writing/rst-files-writers/index.rst
  doc/source/content-writing/rst-files-writers/rst-format-rules.rst
  doc/source/content-writing/rst-files-writers/tab-sets.rst
  doc/source/doc-style/docstrings.rst
  doc/source/doc-style/formatting-tools.rst
  doc/source/getting-started/index.rst
  doc/source/how-to/code/pyansys_logging.py
  doc/source/how-to/contributing.rst
  doc/source/how-to/dns-configuration.rst
  doc/source/how-to/documenting.rst
  doc/source/how-to/grpc-api-packages.rst
  doc/source/how-to/logging.rst
  doc/source/how-to/packaging.rst
  doc/source/how-to/releasing.rst
  doc/source/how-to/setting-up.rst
  doc/source/how-to/supporting-python-versions.rst
  doc/source/how-to/testing.rst
  doc/source/links.rst
  doc/source/packaging/build-systems.rst
  doc/source/packaging/structure.rst
  doc/source/packaging/templates.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#445 docs: update ansys/actions version for doc-style
  .github/workflows/ci_cd.yml
  doc/source/content-writing/content-how-tos/work-around-Vale.rst
Labels: documentation, maintenance

#446 Add content on showing a cheat sheet thumbnail
  doc/source/conf.py
  doc/source/content-writing/_static/cheat-sheet-nav-pane.png
  doc/source/content-writing/content-contrib-setup/content-dev-environment.rst
  doc/source/content-writing/content-contrib-setup/doc-resources.rst
  doc/source/content-writing/content-how-tos/index.rst
  doc/source/content-writing/content-how-tos/show_cheat_sheet_thumbnail.rst
  doc/source/content-writing/rst-files-writers/rst-format-rules.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation
