Repository ansys/pyansys-dev-guide, pull requests merged in 2025-04, with the labels that each got.

#577 docs: PyAnsys packaging targets
  doc/source/conf.py
  doc/source/how-to/packaging.rst
Labels: documentation

#578 fix: link to OSS request form
  doc/source/conf.py
  doc/source/getting-started/administration.rst
  doc/source/links.rst
Labels: bug, documentation

#582 feat: clarification on using dependency groups and extras
  doc/source/how-to/packaging.rst
Labels: documentation, enhancement
