Repository ansys/pyansys-dev-guide, pull requests merged in 2025-05, with the labels that each got.

#592 docs: Adding section on Ruff in code style tools page
  doc/source/coding-style/formatting-tools.rst
  doc/source/coding-style/required-standard.rst
  doc/source/content-writing/content-how-tos/create-PR.rst
  doc/source/content-writing/content-how-tos/resolve-issues-causing-check-failures.rst
  doc/source/links.rst
Labels: documentation

#594 chore: use ruff with ruff.toml file
  .flake8
  .github/labeler.yml
  .pre-commit-config.yaml
  doc/source/doc-style/code/sample_func.py
  doc/source/how-to/code/pyansys_logging.py
  doc/source/how-to/code/test_pyansys_logging.py
  examples/pyvista_example.py
  ruff.toml
Labels: documentation, enhancement, maintenance

#596 feat: facilitating example contribution
  doc/source/how-to/documenting.rst
  doc/source/links.rst
Labels: documentation, enhancement
